<h2><%= @menu.name %> Menu</h2>
<div class="menu">
  <% @menu.sections.each do |section| %>
  <% if section.show_name? %><h3><%= section.name %></h3><% end %>
  <ul class="section <%= "two_column" if section.two_column? %>">
    <% section.items.each do |item| %>
      <li>
        <h4><%= item.name %></h4>
        <div class="price"><%= nice_money item.price %></div>
        <p class="description"><%= item.description %></p>
      </li>
    <% end %>
  </ul>
  <% end %>
</div>