<h2><%= @menu.name %> Menu</h2>

<div id="menu" class="menu">
  <% @menu.sections.non_hidden.each do |section| %>
    <ul class="section <%= "two_column" if section.two_column? %>">
      <% if section.show_name? %><h3><%= section.name %></h3><% end %>
      <% section.items.each do |item| %>
        <li class="item">
          <h4><%= item.name %></h4>
          <div class="price"><%= nice_money item.price %></div>
          <% if item.direct_from_london? %><div class="direct_from_london">**</div><% end %>
          <p class="description"><%= item.description.html_safe %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
  
  <% if @menu.slug == "dinner" %><div class="direct_from_london_info"><div class="direct_from_london">**</div> = Item direct from London</div><% end %>
</div>

<div id="food_samples" class="food_samples">
  <ul class="clearfix">
    <li><%= image_tag "#{@menu.slug}_photo1.jpg", :alt => "#{render_content('menu_photo_caption_1')}" %></li>
    <li><%= image_tag "#{@menu.slug}_photo2.jpg", :alt => "#{render_content('menu_photo_caption_2')}" %></li>
    <li><%= image_tag "#{@menu.slug}_photo3.jpg", :alt => "#{render_content('menu_photo_caption_3')}" %></li>
  </ul>
</div>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $('#food_samples').tooltip();
  </script>
<% end %>