<h2><%= @menu.name %> Menu</h2>

<table>
  <% @menu.sections.each do |section| %>
  <tr>
    <% if section.show_name? %><th><%= section.name %></th><% end %>
  </tr>
  <tr><td>
    <table class="section">
    <% section.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_to_currency item.price, :precision => 0 %></td>
      </tr>
    <% end %>
    </table>
  </td></tr>
  <% end %>
</table><table>
  <% @menu.sections.each do |section| %>
  <tr>
    <% if section.show_name? %><th><%= section.name %></th><% end %>
  </tr>
  <tr><td>
    <table class="section">
    <% section.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_to_currency item.price, :precision => 0 %></td>
      </tr>
    <% end %>
    </table>
  </td></tr>
  <% end %>
</table><table>
  <% @menu.sections.each do |section| %>
  <tr>
    <% if section.show_name? %><th><%= section.name %></th><% end %>
  </tr>
  <tr><td>
    <table class="section">
    <% section.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_to_currency item.price, :precision => 0 %></td>
      </tr>
    <% end %>
    </table>
  </td></tr>
  <% end %>
</table><table>
  <% @menu.sections.each do |section| %>
  <tr>
    <% if section.show_name? %><th><%= section.name %></th><% end %>
  </tr>
  <tr><td>
    <table class="section">
    <% section.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_to_currency item.price, :precision => 0 %></td>
      </tr>
    <% end %>
    </table>
  </td></tr>
  <% end %>
</table><table>
  <% @menu.sections.each do |section| %>
  <tr>
    <% if section.show_name? %><th><%= section.name %></th><% end %>
  </tr>
  <tr><td>
    <table class="section">
    <% section.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_to_currency item.price, :precision => 0 %></td>
      </tr>
    <% end %>
    </table>
  </td></tr>
  <% end %>
</table><table>
  <% @menu.sections.each do |section| %>
  <tr>
    <% if section.show_name? %><th><%= section.name %></th><% end %>
  </tr>
  <tr><td>
    <table class="section">
    <% section.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_to_currency item.price, :precision => 0 %></td>
      </tr>
    <% end %>
    </table>
  </td></tr>
  <% end %>
</table><table>
  <% @menu.sections.each do |section| %>
  <tr>
    <% if section.show_name? %><th><%= section.name %></th><% end %>
  </tr>
  <tr><td>
    <table class="section">
    <% section.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_to_currency item.price, :precision => 0 %></td>
      </tr>
    <% end %>
    </table>
  </td></tr>
  <% end %>
</table><table>
  <% @menu.sections.each do |section| %>
  <tr>
    <% if section.show_name? %><th><%= section.name %></th><% end %>
  </tr>
  <tr><td>
    <table class="section">
    <% section.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_to_currency item.price, :precision => 0 %></td>
      </tr>
    <% end %>
    </table>
  </td></tr>
  <% end %>
</table><table>
  <% @menu.sections.each do |section| %>
  <tr>
    <% if section.show_name? %><th><%= section.name %></th><% end %>
  </tr>
  <tr><td>
    <table class="section">
    <% section.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_to_currency item.price, :precision => 0 %></td>
      </tr>
    <% end %>
    </table>
  </td></tr>
  <% end %>
</table><table>
  <% @menu.sections.each do |section| %>
  <tr>
    <% if section.show_name? %><th><%= section.name %></th><% end %>
  </tr>
  <tr><td>
    <table class="section">
    <% section.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_to_currency item.price, :precision => 0 %></td>
      </tr>
    <% end %>
    </table>
  </td></tr>
  <% end %>
</table><table>
  <% @menu.sections.each do |section| %>
  <tr>
    <% if section.show_name? %><th><%= section.name %></th><% end %>
  </tr>
  <tr><td>
    <table class="section">
    <% section.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_to_currency item.price, :precision => 0 %></td>
      </tr>
    <% end %>
    </table>
  </td></tr>
  <% end %>
</table><table>
  <% @menu.sections.each do |section| %>
  <tr>
    <% if section.show_name? %><th><%= section.name %></th><% end %>
  </tr>
  <tr><td>
    <table class="section">
    <% section.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_to_currency item.price, :precision => 0 %></td>
      </tr>
    <% end %>
    </table>
  </td></tr>
  <% end %>
</table><table>
  <% @menu.sections.each do |section| %>
  <tr>
    <% if section.show_name? %><th><%= section.name %></th><% end %>
  </tr>
  <tr><td>
    <table class="section">
    <% section.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_to_currency item.price, :precision => 0 %></td>
      </tr>
    <% end %>
    </table>
  </td></tr>
  <% end %>
</table><table>
  <% @menu.sections.each do |section| %>
  <tr>
    <% if section.show_name? %><th><%= section.name %></th><% end %>
  </tr>
  <tr><td>
    <table class="section">
    <% section.items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= number_to_currency item.price, :precision => 0 %></td>
      </tr>
    <% end %>
    </table>
  </td></tr>
  <% end %>
</table>
