<h2><%= @menu.name %> Menu</h2>
<div class="menu">
  <% @menu.sections.each do |section| %>
  <% if section.show_name? %><h3><%= section.name %></h3><% end %>
  <ul class="section <%= "two_column" if section.two_column? %>">
    <% 5.times do %>
    <% section.items.each do |item| %>
      <li>
        <%= item.name %>
        --
        <%= item.description %>
        ......
        <%= number_to_currency item.price, :precision => 0 %>
      </li>
    <% end %>
    <% end %>
  </ul>
  <% end %>
</div>