<h2><%= @menu.name %> Menu</h2>

<div id="menu" class="menu">
  <% @menu.sections.non_hidden.each do |section| %>
    <ul class="section <%= "two_column" if section.two_column? %>">
      <% if section.show_name? %><h3><%= section.name %></h3><% end %>
      <% section.items.each do |item| %>
        <li class="item">
          <h4><%= item.name %></h4>
          <div class="price"><%= nice_money item.price %></div>
          <p class="description"><%= item.description.html_safe %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div id="menu_samples" class="menu_samples fullscreen_only">
  <%= render_content "#{@menu.slug}_photos" %>
</div>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $('#menu_samples').tooltip();
  </script>
<% end %>