<h2><%= @menu.name %> Menu</h2>

<div id="menu" class="menu">
  <% @menu.sections.non_hidden.each do |section| %>
    <ul class="section <%= "two_column" if section.two_column? %>">
      <% if section.show_name? %><h3><%= section.name %></h3><% end %>
      <% section.items.each do |item| %>
        <li class="item">
          <h4><%= item.name %></h4>
          <div class="price"><%= nice_money item.price %></div>
          <p class="description"><%= item.description %></p>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div id="food_samples" class="food_samples">
  <ul class="clearfix">
    <li><%= image_tag "photo_food_sample1.jpg", :alt => "These shrimp are packed with kick, spice and flavor. (leave not edible)" %></li>
    <li><%= image_tag "photo_food_sample2.jpg", :alt => "Best meat ever!" %></li>
    <li><%= image_tag "photo_food_sample3.jpg", :alt => "The little cog crackers are top of the line. We ship them direct from a small mom-and-pop shop in Turkey where they are made fresh" %></li>
  </ul>
</div>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
    $('#food_samples').tooltip();
  </script>
<% end %>