<% unless admin? %>
  <%= form_tag(:controller => "admin", :action => "login") do %>
    <h2>Admin Login</h2>
    <div class="field">
      <%= label_tag :username %>
      <%= text_field_tag :username, params[:username] %>
    </div>
    <div class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>

    <div class="actions">
      <%= submit_tag "Login" %>
    </div>
  <% end %>
<% end %>