<%= form_for(@applicant) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Contact Information</h2>
  <div class="field">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email, "Email Address" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :daytime_phone, "Daytime Phone" %>
    <%= f.text_field :daytime_phone %>
  </div>
  <div class="field">
    <%= f.label :evening_phone, "Evening Phone" %>
    <%= f.text_field :evening_phone %>
  </div>
  <h3>Mailing Address</h3>
  <div class="field">
    <%= f.label :address_street1, "Street 1" %>
    <%= f.text_field :address_street1 %>
  </div>
  <div class="field">
    <%= f.label :address_street2, "Street 2" %>
    <%= f.text_field :address_street2 %>
  </div>
  <div class="field">
    <%= f.label :address_city, "City" %>
    <%= f.text_field :address_city %>
  </div>
  <div class="field">
    <%= f.label :address_state, "State" %>
    <%= f.text_field :address_state %>
  </div>
  <div class="field">
    <%= f.label :address_zipcode, "Zip Code" %>
    <%= f.text_field :address_zipcode %>
  </div>
  
  <h2>Previous Employers</h2>
  <h3>Most Recent Employer</h3>
  <div class="field">
    <%= f.label :employer1_name, "Name" %>
    <%= f.text_field :employer1_name %>
  </div>
  <div class="field">
    <%= f.label :employer1_address_street1, "Street 1" %>
    <%= f.text_field :employer1_address_street1 %>
  </div>
  <div class="field">
    <%= f.label :employer1_address_street2, "Street 2" %>
    <%= f.text_field :employer1_address_street2 %>
  </div>
  <div class="field">
    <%= f.label :employer1_address_city, "City" %>
    <%= f.text_field :employer1_address_city %>
  </div>
  <div class="field">
    <%= f.label :employer1_address_state, "State" %>
    <%= f.text_field :employer1_address_state %>
  </div>
  <div class="field">
    <%= f.label :employer1_address_zipcode, "Zip Code" %>
    <%= f.text_field :employer1_address_zipcode %>
  </div>
  <div class="field">
    <%= f.label :employer1_start_date, "Start Date" %>
    <%= f.date_select :employer1_start_date, :start_year => 1970, :end_year => Date.today.year, :order => [:month, :day, :year] %>
  </div>
  <div class="field">
    <%= f.label :employer1_end_date, "End Date" %>
    <%= f.date_select :employer1_end_date, :start_year => 1970, :end_year => Date.today.year, :order => [:month, :day, :year], :include_blank => true, :default => "" %><span class="note">(leave blank if current employer)</span>
  </div>
  <div class="field">
    <%= f.label :employer1_notes %>
    <%= f.text_area :employer1_notes %>
  </div>
  
  <div style="display: none">
    <h3>Second Most Recent Employer</h3>
    <div class="field">
      <%= f.label :employer2_name %>
      <%= f.text_field :employer2_name %>
    </div>
    <div class="field">
      <%= f.label :employer2_address_street1 %>
      <%= f.text_field :employer2_address_street1 %>
    </div>
    <div class="field">
      <%= f.label :employer2_address_street2 %>
      <%= f.text_field :employer2_address_street2 %>
    </div>
    <div class="field">
      <%= f.label :employer2_address_city %>
      <%= f.text_field :employer2_address_city %>
    </div>
    <div class="field">
      <%= f.label :employer2_address_state %>
      <%= f.text_field :employer2_address_state %>
    </div>
    <div class="field">
      <%= f.label :employer2_address_zipcode %>
      <%= f.text_field :employer2_address_zipcode %>
    </div>
    <div class="field">
      <%= f.label :employer2_start_date %>
      <%= f.date_select :employer2_start_date, :start_year => 1970, :end_year => Date.today.year, :order => [:month, :day, :year] %>
    </div>
    <div class="field">
      <%= f.label :employer2_end_date %>
      <%= f.date_select :employer2_end_date, :start_year => 1970, :end_year => Date.today.year, :order => [:month, :day, :year] %>
    </div>
    <div class="field">
      <%= f.label :employer2_notes %>
      <%= f.text_area :employer2_notes %>
    </div>
  
    <h3>Third Most Recent Employer</h3>
    <div class="field">
      <%= f.label :employer3_name %>
      <%= f.text_field :employer3_name %>
    </div>
    <div class="field">
      <%= f.label :employer3_address_street1 %>
      <%= f.text_field :employer3_address_street1 %>
    </div>
    <div class="field">
      <%= f.label :employer3_address_street2 %>
      <%= f.text_field :employer3_address_street2 %>
    </div>
    <div class="field">
      <%= f.label :employer3_address_city %>
      <%= f.text_field :employer3_address_city %>
    </div>
    <div class="field">
      <%= f.label :employer3_address_state %>
      <%= f.text_field :employer3_address_state %>
    </div>
    <div class="field">
      <%= f.label :employer3_address_zipcode %>
      <%= f.text_field :employer3_address_zipcode %>
    </div>
    <div class="field">
      <%= f.label :employer3_start_date %>
      <%= f.date_select :employer3_start_date, :start_year => 1970, :end_year => Date.today.year, :order => [:month, :day, :year] %>
    </div>
    <div class="field">
      <%= f.label :employer3_end_date %>
      <%= f.date_select :employer3_end_date, :start_year => 1970, :end_year => Date.today.year, :order => [:month, :day, :year] %>
    </div>
    <div class="field">
      <%= f.label :employer3_notes %>
      <%= f.text_area :employer3_notes %>
    </div>
  </div>
  
  <h2>Education and Experience</h2>
  <div class="field">
    <%= f.label :education_completed %>
    <%= f.select :education_completed, options_for_select(["","High School", "Associates Degree", "Bachelors Degree", "Graduate Degree"]) %>
  </div>
  <div class="field">
    <%= f.label :brag, "Highlights" %>
    <%= f.text_area :brag %>
  </div>
  <div class="field">
    <%= f.label :contact_previous_employers, "May we contact your previous employers?" %>
    <%= f.check_box :contact_previous_employers %>
  </div>
  <div class="field">
    <%= f.label :convicted_of_felony, "Have you ever been convicted of a felony?" %>
    <%= f.check_box :convicted_of_felony %>
  </div>
  
  <h2>Position Information</h2>
  <div class="field checkbox">
    <%= f.label :position_applying_for, "Applying For" %>
    <%= f.select :position_applying_for, options_for_select([["Front of the House","front"],["Back of the House","back"]], :selected => params[:position]), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :full_time, "Available Full-time?" %>
    <%= f.check_box :full_time %>
  </div>
  <div class="field">
    <%= f.label :desired_salary, "Desired Salary" %>
    <%= f.number_field :desired_salary %>
  </div>
  <div class="field">
    <%= f.label :available_shifts, "Available Shifts" %>
    <%= f.text_field :available_shifts %>
  </div>
  <div class="field">
    <%= f.label :available_start_date, "Available Start Date" %>
    <%= f.date_select :available_start_date, :start_year => Date.today.year, :end_year => Date.today.year + 1, :order => [:month, :day, :year] %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Application", :class => "button" %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
if(scrollbarPresent()){
  $('body').addClass('scrollbar_present');
}
</script>
