<% @body_class = "pages home" %>
<%= render_content 'home_page_copy' %>

<h2>Now Open</h2>
<p class="fullscreen_only">Tamarind of London is located in the <strong>chic Crystal Cove Promenade</strong> <br> at <a href="http://maps.google.com/maps?q=7862+Pacific+Coast+Hwy,+South+Coast,+Orange,+California+92657&hnear=7862+Pacific+Coast+Hwy,+South+Coast,+Orange,+California+92657&gl=us&t=m&z=16&vpsrc=0" target="_blank">7862 East Coast Hwy, Newport Beach</a></p>
<p class="mobile_only">Tamarind of London is located in the <strong>chic Crystal Cove Promenade</strong> at <a href="http://maps.google.com/maps?q=33.570868,-117.833678&gl=us&t=m&z=16&vpsrc=0" target="_blank">7862 East Coast Hwy, Newport Beach</a></p>
<ul class="hours">
  <li><strong>Lunch:</strong> Friday to Sunday 11:30<sup>AM</sup> to 2:30<sup>PM</sup></li>
  <li><strong>Dinner:</strong> Everyday 5<sup>PM</sup> onward</li>
  <li><strong>Happy Hour:</strong> Monday to Thursday 4<sup>PM</sup> to 6<sup>PM</sup></li>
  <li style="margin-left: 96px">Friday to Sunday 2:30<sup>PM</sup> to 5<sup>PM</sup></li>
</ul>

<h2><%= Date.today.strftime("%B") %> Specials</h2>
<p>We are happy to introduce our <strong>Wine &amp; Dine Series</strong>. Each month we offer a <strong>three course dinner</strong> with dishes <strong>paired with selected wines</strong>. The featured winery for July is <strong>Clos Pegase</strong> (view the <a href="/system/clos_pegase_menu.pdf">special menu</a>). Be sure to check back as we feature a new winery each month.</p>

<h2>Our Menus</h2>
<p>Tamarind of London in Newport Beach has built on the <br class="fullscreen_only"> success of its Michelin-honored predecessor with its <br class="fullscreen_only">unique blend of  Indian cuisine and crossover dishes.<br>
  <% Menu.viewable.each do |menu| %>
    <div class="menu_listing"><%= link_to menu.name + " Menu", view_menu_path(:slug => menu.slug) %></div>
  <% end %>
</p>

<h2>Connect With Us</h2>
<p>Get the latest updates on our <a href="http://www.facebook.com/tamarindoflondon" class="facebook">Facebook page</a> or follow us on <a href="http://www.twitter.com/tamarindlondon" class="twitter">Twitter</a>.</p>
<%= form_for(Subscriber.new) do |f| %>
  <p>Join our newsletter for special offers and announcements:</p>
  <div class="field home_page_subscriber">
    <%= f.label :name %>
    <%= f.text_field :name, :size => 23 %><br>
  </div>
  <div class="field home_page_subscriber">
    <%= f.label :email %>
    <%= f.text_field :email, :size => 23 %><br>
  </div>
  <div class="field home_page_subscriber">
    <%= f.submit "Signup for Newsletter", :class => "button" %>
  </div>
<% end %>
<br>
<div class="fullscreen_only">
  <h2>Career Opportunities</h2>
  <p><%= link_to "Join a winning team", new_applicant_url(:position => "front"), :class => "front_house" %></p>
</div>