<% @body_class = "pages home" %>
<%= render_content 'home_page_copy' %>

<h2>Now Open</h2>
<p>Tamarind of London is located in the <strong>chic Crystal Cove Promenade</strong><br>at <a href="http://maps.google.com/maps?q=7862+East+Pacific+Coast+Highway+Newport+Beach,+California&amp;oe=utf-8&amp;client=firefox-a&amp;hnear=7862+E+Pacific+Coast+Hwy,+Laguna+Beach,+California+92657&amp;gl=us&amp;t=m&amp;z=16&amp;vpsrc=0" target="_blank" title="Google Maps">7862 East Coast Hwy, Newport Beach</a> and will be<br>open for dinner Monday - Sunday 5 p.m. - 10:30 p.m</p>

<h2>Our Menu</h2>
<p>Tamarind of London in Newport Beach has built on the success of<br>its Michelin-honored predecessor with its unique blend of<br>Indian cuisine and crossover dishes.<br>
  <% Menu.viewable.each do |menu| %>
    <div class="menu_listing"><%= link_to menu.name, view_menu_path(:slug => menu.slug) %></div>
  <% end %>
</p>

<h2>Connect With Us</h2>
<p>Get the latest updates on our <a href="http://www.facebook.com/tamarindoflondon" class="facebook">Facebook page</a></p>
<%= form_for(Subscriber.new) do |f| %>
  <p>Join our newsletter for special offers and announcements:</p>
  <div class="field home_page_subscriber">
    <%= f.label :name %>
    <%= f.text_field :name, :size => 23 %><br>
  </div>
  <div class="field home_page_subscriber">
    <%= f.label :email %>
    <%= f.text_field :email, :size => 23 %><br>
  </div>
  <div class="field home_page_subscriber">
    <%= f.submit "Signup for Newsletter", :class => "button" %>
  </div>
<% end %>
<!-- <li><a href="http://www.twitter.com/tamarindlondon" class="twitter">Twitter</a></li> -->
<!-- <li><a href="http://blog.tamarindoflondon.com" class="blog">Blog</a></li> -->
<br>
<h2>Career Opportunities</h2>
<p><%= link_to "Join a winning team", new_applicant_url(:position => "front"), :class => "front_house" %></p>
