<h2>Opening Soon</h2>
<address>7862 East Pacific Coast Highway<span>&bull;</span>Newport Beach<span>&bull;</span>California</address>
<p>Be the first to be invited to our restaurant opening:</p>

<%= form_for(@subscriber) do |f| %>
  <% if @subscriber.errors.any? %>
    <div class="error"><%= @subscriber.errors.full_messages.first %></div>
  <% end %>

  <div class="field">
    <%= f.text_field :email, :size => 25 %>
    <%= f.submit "submit", :class => "button" %>
  </div>

<% end %>


<h2>Follow Us</h2>
<ul>
  <li><a href="http://www.facebook.com/pages/Tamarind-of-London/173326879404938" class="facebook">Facebook</a></li>
  <li><a href="http://www.twitter.com/tamarindlondon" class="twitter">Twitter</a></li>
  <!-- <li><a href="http://blog.tamarindoflondon.com" class="blog">Blog</a></li> -->
</ul>  

<h2>Career Opportunities</h2>
<ul>
  <li><%= link_to "Front of the House", new_applicant_url(:position => "front"), :class => "front_house" %></li>
  <li><%= link_to "Back of the House", new_applicant_path(:position => "back"), :class => "back_house" %></li>
</ul>