<h2>Editing <%= @menu.name %> Menu</h3>

<%= form_for([:admin,@menu], :html => {:class => "edit_menu clearfix"}) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, :size => 15 %>
  </div>
  <div class="field">
    <%= f.label :viewable %>
    <%= f.check_box :viewable %>
  </div>
  <div class="field">
    <%= f.label :position %>
    <%= f.select :position, 1..Menu.count %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>  


<div id="live_edit_menu" class="live_edit_menu">
  <% @menu.sections.non_hidden.each do |section| %>
    <ul class="section <%= "two_column" if section.two_column? %>">
      <%= form_for([:admin,section], :remote => true) do |f| %>
        <%= f.hidden_field :position %>
        <h3 class="<%= 'no_name' unless section.show_name? %>">
          <%= link_to "Details", edit_admin_section_path(section), :class => "edit_menu_section" %>
          <%= f.text_field :name %>
        </h3>
      <% end %>
      <% section.items.each do |item| %>
        <li class="item">
          <%= form_for([:admin, item], :remote => true) do |f| %>
            <%= f.hidden_field :position %>
            <%= link_to "Details", edit_admin_item_path(item), :class => "edit_menu_item" %>
            <h4><%= f.text_field :name %></h4>
            <div class="price"><%= f.text_field :price, :value => nice_money(item.price) %></div>
            <p class="description"><%= f.text_field :description %></p>
          <% end %>
        </li>
      <% end %>
      <%= link_to "Add Item", new_admin_item_path(:section_id => section.id), :id => "add_item_link", :class => "add_item_link" %>
    </ul>
  <% end %>
  
  <%= link_to "Add Section", new_admin_section_path, :id => "add_section_link", :class => "add_section_link" %>
  <%= form_for([:admin, Section.new], :html => {:style => "display: none"}) do |f| %>
    <h3>New Section</h3>
    <%= f.hidden_field :menu_id, :value => @menu.id %>
    <%= f.hidden_field :hidden, :value => false %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :show_name, :class => "alt_label" %>
      <%= f.check_box :show_name %><span class="note">(uncheck to hide name on menu)</span>
    </div>
    <div class="actions">
      <%= f.submit "Add Section" %>
    </div>
  <% end %>
</div>






<br><br><br>

<%= link_to 'Show', admin_menu_path(@menu) %> |
<%= link_to 'Back', admin_menus_path %>



<script type="text/javascript" charset="utf-8">
  $('.section').sortable({
    items: "li",
    update: function(){
      $(this).find('#item_position').each(function(index, element){$(element).val(index)});
      $(this).find('form').submit();
    }
  });

  $('.live_edit_menu').sortable({
    items: "ul",
    handle: "h3", 
    axis: "y",
    update: function(){
      $(this).find('#section_position').each(function(index, element){$(element).val(index)});
      $(this).find('.edit_section').submit();
    }
  });
  
  $('.live_edit_menu input').bind('keyup', function(e) {
    var code = (e.keyCode ? e.keyCode : e.which);
    if(code == 13) {$(this).trigger("blur");}
    if(code == 27) {$(this).parentsUntil('form').parent().each(function(){this.reset();}); $(this).trigger("blur");}
  });  
  $('.section .item h4').click(function(){($(this).addClass('editing'))});
  $('.edit_item input').change(function(){$(this).parentsUntil('form').submit()});

  $('#add_section_link').click(function(){$('#new_section').show(); $(this).hide(); return false;});
  // $('.add_item_link').click(function(){$(this).parentsUntil('.section').find('#new_item').show(); $(this).hide(); return false;});
</script>