<h1>Editing applicant</h1>

<%= form_for([:admin,@applicant]) do |f| %>
  <% if @applicant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@applicant.errors.count, "error") %> prohibited this applicant from being saved:</h2>

      <ul>
      <% @applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :daytime_phone %><br />
    <%= f.text_field :daytime_phone %>
  </div>
  <div class="field">
    <%= f.label :evening_phone %><br />
    <%= f.text_field :evening_phone %>
  </div>
  <div class="field">
    <%= f.label :address_street1 %><br />
    <%= f.text_field :address_street1 %>
  </div>
  <div class="field">
    <%= f.label :address_street2 %><br />
    <%= f.text_field :address_street2 %>
  </div>
  <div class="field">
    <%= f.label :address_city %><br />
    <%= f.text_field :address_city %>
  </div>
  <div class="field">
    <%= f.label :address_state %><br />
    <%= f.text_field :address_state %>
  </div>
  <div class="field">
    <%= f.label :address_zipcode %><br />
    <%= f.text_field :address_zipcode %>
  </div>
  <div class="field">
    <%= f.label :employer1_name %><br />
    <%= f.text_field :employer1_name %>
  </div>
  <div class="field">
    <%= f.label :employer1_address_street1 %><br />
    <%= f.text_field :employer1_address_street1 %>
  </div>
  <div class="field">
    <%= f.label :employer1_address_street2 %><br />
    <%= f.text_field :employer1_address_street2 %>
  </div>
  <div class="field">
    <%= f.label :employer1_address_city %><br />
    <%= f.text_field :employer1_address_city %>
  </div>
  <div class="field">
    <%= f.label :employer1_address_state %><br />
    <%= f.text_field :employer1_address_state %>
  </div>
  <div class="field">
    <%= f.label :employer1_address_zipcode %><br />
    <%= f.text_field :employer1_address_zipcode %>
  </div>
  <div class="field">
    <%= f.label :employer1_start_date %><br />
    <%= f.date_select :employer1_start_date %>
  </div>
  <div class="field">
    <%= f.label :employer1_end_date %><br />
    <%= f.date_select :employer1_end_date %>
  </div>
  <div class="field">
    <%= f.label :employer1_notes %><br />
    <%= f.text_area :employer1_notes %>
  </div>
  <div class="field">
    <%= f.label :employer2_name %><br />
    <%= f.text_field :employer2_name %>
  </div>
  <div class="field">
    <%= f.label :employer2_address_street1 %><br />
    <%= f.text_field :employer2_address_street1 %>
  </div>
  <div class="field">
    <%= f.label :employer2_address_street2 %><br />
    <%= f.text_field :employer2_address_street2 %>
  </div>
  <div class="field">
    <%= f.label :employer2_address_city %><br />
    <%= f.text_field :employer2_address_city %>
  </div>
  <div class="field">
    <%= f.label :employer2_address_state %><br />
    <%= f.text_field :employer2_address_state %>
  </div>
  <div class="field">
    <%= f.label :employer2_address_zipcode %><br />
    <%= f.text_field :employer2_address_zipcode %>
  </div>
  <div class="field">
    <%= f.label :employer2_start_date %><br />
    <%= f.date_select :employer2_start_date %>
  </div>
  <div class="field">
    <%= f.label :employer2_end_date %><br />
    <%= f.date_select :employer2_end_date %>
  </div>
  <div class="field">
    <%= f.label :employer2_notes %><br />
    <%= f.text_area :employer2_notes %>
  </div>
  <div class="field">
    <%= f.label :employer3_name %><br />
    <%= f.text_field :employer3_name %>
  </div>
  <div class="field">
    <%= f.label :employer3_address_street1 %><br />
    <%= f.text_field :employer3_address_street1 %>
  </div>
  <div class="field">
    <%= f.label :employer3_address_street2 %><br />
    <%= f.text_field :employer3_address_street2 %>
  </div>
  <div class="field">
    <%= f.label :employer3_address_city %><br />
    <%= f.text_field :employer3_address_city %>
  </div>
  <div class="field">
    <%= f.label :employer3_address_state %><br />
    <%= f.text_field :employer3_address_state %>
  </div>
  <div class="field">
    <%= f.label :employer3_address_zipcode %><br />
    <%= f.text_field :employer3_address_zipcode %>
  </div>
  <div class="field">
    <%= f.label :employer3_start_date %><br />
    <%= f.date_select :employer3_start_date %>
  </div>
  <div class="field">
    <%= f.label :employer3_end_date %><br />
    <%= f.date_select :employer3_end_date %>
  </div>
  <div class="field">
    <%= f.label :employer3_notes %><br />
    <%= f.text_area :employer3_notes %>
  </div>
  <div class="field">
    <%= f.label :education_completed %><br />
    <%= f.text_field :education_completed %>
  </div>
  <div class="field">
    <%= f.label :brag %><br />
    <%= f.text_area :brag %>
  </div>
  <div class="field">
    <%= f.label :contact_previous_employers %><br />
    <%= f.check_box :contact_previous_employers %>
  </div>
  <div class="field">
    <%= f.label :convicted_of_felony %><br />
    <%= f.check_box :convicted_of_felony %>
  </div>
  <div class="field">
    <%= f.label :position_applying_for %><br />
    <%= f.text_field :position_applying_for %>
  </div>
  <div class="field">
    <%= f.label :full_time %><br />
    <%= f.check_box :full_time %>
  </div>
  <div class="field">
    <%= f.label :desired_salary %><br />
    <%= f.number_field :desired_salary %>
  </div>
  <div class="field">
    <%= f.label :available_shifts %><br />
    <%= f.text_field :available_shifts %>
  </div>
  <div class="field">
    <%= f.label :available_start_date %><br />
    <%= f.date_select :available_start_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>