<h2>Applicants <span class="note">(<%= @applicants.size %> total)</span></h2>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Position</th>
    <th>Shifts</th>
    <th>Available</th>
    <th></th>
  </tr>

<% @applicants.each do |applicant| %>
  <tr>
    <td><%= applicant.first_name %> <%= applicant.last_name %></td>
    <td><span class="note"><%= applicant.email %></span></td>
    <td><%= applicant.evening_phone %></td>
    <td><%= applicant.position_applying_for %></td>
    <td><span class="note"><%= applicant.available_shifts.truncate(30) %></span></td>
    <td><%= applicant.available_start_date %></td>
    <td><%= link_to 'Details', admin_applicant_path(applicant) %></td>
  </tr>
<% end %>
</table>