<h2>Applicant Review</h2>

<h2>Contact Information</h2>
<p>
  <b>First name:</b>
  <%= @applicant.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @applicant.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @applicant.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @applicant.evening_phone %>
</p>

<p>
  <b>Address street1:</b>
  <%= @applicant.address_street1 %>
</p>

<p>
  <b>Address street2:</b>
  <%= @applicant.address_street2 %>
</p>

<p>
  <b>Address city:</b>
  <%= @applicant.address_city %>
</p>

<p>
  <b>Address state:</b>
  <%= @applicant.address_state %>
</p>

<p>
  <b>Address zip code:</b>
  <%= @applicant.address_zipcode %>
</p>


<h2>Previous Employers</h2>
<h3>Most Recent Employer</h3>

<p>
  <b>Employer1 name:</b>
  <%= @applicant.employer1_name %>
</p>

<p>
  <b>Employer1 address street1:</b>
  <%= @applicant.employer1_address_street1 %>
</p>

<p>
  <b>Employer1 address street2:</b>
  <%= @applicant.employer1_address_street2 %>
</p>

<p>
  <b>Employer1 address city:</b>
  <%= @applicant.employer1_address_city %>
</p>

<p>
  <b>Employer1 address state:</b>
  <%= @applicant.employer1_address_state %>
</p>

<p>
  <b>Employer1 address zipcode:</b>
  <%= @applicant.employer1_address_zipcode %>
</p>

<p>
  <b>Employer1 Phone:</b>
  <%= @applicant.employer1_phone %>
</p>

<p>
  <b>Employer1 start date:</b>
  <%= @applicant.employer1_start_date %>
</p>

<p>
  <b>Employer1 end date:</b>
  <%= @applicant.employer1_end_date %>
</p>

<p>
  <b>Employer1 Contactable:</b>
  <%= @applicant.employer1_contactable %>
</p>

<p>
  <b>Employer1 No Contact Reason:</b>
  <%= @applicant.employer1_no_contact_reason %>
</p>

<p>
  <b>Employer1 notes:</b>
  <%= @applicant.employer1_notes %>
</p>

<h3>Second Most Recent Employer</h3>
<p>
  <b>Employer2 name:</b>
  <%= @applicant.employer2_name %>
</p>

<p>
  <b>Employer2 address street2:</b>
  <%= @applicant.employer2_address_street2 %>
</p>

<p>
  <b>Employer2 address street2:</b>
  <%= @applicant.employer2_address_street2 %>
</p>

<p>
  <b>Employer2 address city:</b>
  <%= @applicant.employer2_address_city %>
</p>

<p>
  <b>Employer2 address state:</b>
  <%= @applicant.employer2_address_state %>
</p>

<p>
  <b>Employer2 address zipcode:</b>
  <%= @applicant.employer2_address_zipcode %>
</p>

<p>
  <b>Employer2 Phone:</b>
  <%= @applicant.employer2_phone %>
</p>

<p>
  <b>Employer2 start date:</b>
  <%= @applicant.employer2_start_date %>
</p>

<p>
  <b>Employer2 end date:</b>
  <%= @applicant.employer2_end_date %>
</p>

<p>
  <b>Employer2 Contactable:</b>
  <%= @applicant.employer2_contactable %>
</p>

<p>
  <b>Employer2 No Contact Reason:</b>
  <%= @applicant.employer2_no_contact_reason %>
</p>

<p>
  <b>Employer2 notes:</b>
  <%= @applicant.employer2_notes %>
</p>

<h3>Third Most Recent Employer</h3>
<p>
  <b>Employer3 name:</b>
  <%= @applicant.employer3_name %>
</p>

<p>
  <b>Employer3 address street3:</b>
  <%= @applicant.employer3_address_street3 %>
</p>

<p>
  <b>Employer3 address street3:</b>
  <%= @applicant.employer3_address_street3 %>
</p>

<p>
  <b>Employer3 address city:</b>
  <%= @applicant.employer3_address_city %>
</p>

<p>
  <b>Employer3 address state:</b>
  <%= @applicant.employer3_address_state %>
</p>

<p>
  <b>Employer3 address zipcode:</b>
  <%= @applicant.employer3_address_zipcode %>
</p>

<p>
  <b>Employer3 Phone:</b>
  <%= @applicant.employer3_phone %>
</p>

<p>
  <b>Employer3 start date:</b>
  <%= @applicant.employer3_start_date %>
</p>

<p>
  <b>Employer3 end date:</b>
  <%= @applicant.employer3_end_date %>
</p>

<p>
  <b>Employer3 Contactable:</b>
  <%= @applicant.employer3_contactable %>
</p>

<p>
  <b>Employer3 No Contact Reason:</b>
  <%= @applicant.employer3_no_contact_reason %>
</p>

<p>
  <b>Employer3 notes:</b>
  <%= @applicant.employer3_notes %>
</p>



<h2>Education and Experience</h2>
<p>
  <b>Education completed:</b>
  <%= @applicant.education_completed %>
</p>

<p>
  <b>Highlights:</b>
  <%= @applicant.brag %>
</p>


<h3>Legal Information</h3>
<p>
  <b>Convicted of felony:</b>
  <%= @applicant.convicted_of_felony %>
</p>

<p>
  <b>Legal to Work in USA:</b>
  <%= @applicant.legal_to_work_in_usa %>
</p>


<h2>Position Information</h2>
<p>
  <b>Position applying for:</b>
  <%= @applicant.position_applying_for %>
</p>

<p>
  <b>Full time:</b>
  <%= @applicant.full_time %>
</p>

<p>
  <b>Part time:</b>
  <%= @applicant.part_time %>
</p>

<p>
  <b>Desired salary:</b>
  <%= @applicant.desired_salary %>
</p>

<p>
  <b>Available shifts:</b>
  <%= @applicant.available_shifts %>
</p>

<p>
  <b>Available start date:</b>
  <%= @applicant.available_start_date %>
</p>


<%= link_to 'Back', admin_applicants_path %>
