<h2>Applicant Review</h2>

<p>
  <b>First name:</b>
  <%= @applicant.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @applicant.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @applicant.email %>
</p>

<p>
  <b>Evening phone:</b>
  <%= @applicant.evening_phone %>
</p>

<p>
  <b>Address street1:</b>
  <%= @applicant.address_street1 %>
</p>

<p>
  <b>Address street2:</b>
  <%= @applicant.address_street2 %>
</p>

<p>
  <b>Address city:</b>
  <%= @applicant.address_city %>
</p>

<p>
  <b>Address state:</b>
  <%= @applicant.address_state %>
</p>

<p>
  <b>Address zipcode:</b>
  <%= @applicant.address_zipcode %>
</p>

<p>
  <b>Employer1 name:</b>
  <%= @applicant.employer1_name %>
</p>

<p>
  <b>Employer1 address street1:</b>
  <%= @applicant.employer1_address_street1 %>
</p>

<p>
  <b>Employer1 address street2:</b>
  <%= @applicant.employer1_address_street2 %>
</p>

<p>
  <b>Employer1 address city:</b>
  <%= @applicant.employer1_address_city %>
</p>

<p>
  <b>Employer1 address state:</b>
  <%= @applicant.employer1_address_state %>
</p>

<p>
  <b>Employer1 address zipcode:</b>
  <%= @applicant.employer1_address_zipcode %>
</p>

<p>
  <b>Employer1 start date:</b>
  <%= @applicant.employer1_start_date %>
</p>

<p>
  <b>Employer1 end date:</b>
  <%= @applicant.employer1_end_date %>
</p>

<p>
  <b>Employer1 notes:</b>
  <%= @applicant.employer1_notes %>
</p>

<p>
  <b>Employer2 name:</b>
  <%= @applicant.employer2_name %>
</p>

<p>
  <b>Employer2 address street1:</b>
  <%= @applicant.employer2_address_street1 %>
</p>

<p>
  <b>Employer2 address street2:</b>
  <%= @applicant.employer2_address_street2 %>
</p>

<p>
  <b>Employer2 address city:</b>
  <%= @applicant.employer2_address_city %>
</p>

<p>
  <b>Employer2 address state:</b>
  <%= @applicant.employer2_address_state %>
</p>

<p>
  <b>Employer2 address zipcode:</b>
  <%= @applicant.employer2_address_zipcode %>
</p>

<p>
  <b>Employer2 start date:</b>
  <%= @applicant.employer2_start_date %>
</p>

<p>
  <b>Employer2 end date:</b>
  <%= @applicant.employer2_end_date %>
</p>

<p>
  <b>Employer2 notes:</b>
  <%= @applicant.employer2_notes %>
</p>

<p>
  <b>Employer3 name:</b>
  <%= @applicant.employer3_name %>
</p>

<p>
  <b>Employer3 address street1:</b>
  <%= @applicant.employer3_address_street1 %>
</p>

<p>
  <b>Employer3 address street2:</b>
  <%= @applicant.employer3_address_street2 %>
</p>

<p>
  <b>Employer3 address city:</b>
  <%= @applicant.employer3_address_city %>
</p>

<p>
  <b>Employer3 address state:</b>
  <%= @applicant.employer3_address_state %>
</p>

<p>
  <b>Employer3 address zipcode:</b>
  <%= @applicant.employer3_address_zipcode %>
</p>

<p>
  <b>Employer3 start date:</b>
  <%= @applicant.employer3_start_date %>
</p>

<p>
  <b>Employer3 end date:</b>
  <%= @applicant.employer3_end_date %>
</p>

<p>
  <b>Employer3 notes:</b>
  <%= @applicant.employer3_notes %>
</p>

<p>
  <b>Education completed:</b>
  <%= @applicant.education_completed %>
</p>

<p>
  <b>Brag:</b>
  <%= @applicant.brag %>
</p>

<p>
  <b>Convicted of felony:</b>
  <%= @applicant.convicted_of_felony %>
</p>

<p>
  <b>Position applying for:</b>
  <%= @applicant.position_applying_for %>
</p>

<p>
  <b>Full time:</b>
  <%= @applicant.full_time %>
</p>

<p>
  <b>Desired salary:</b>
  <%= @applicant.desired_salary %>
</p>

<p>
  <b>Available shifts:</b>
  <%= @applicant.available_shifts %>
</p>

<p>
  <b>Available start date:</b>
  <%= @applicant.available_start_date %>
</p>


<%= link_to 'Back', admin_applicants_path %>
