<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @applicant.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @applicant.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @applicant.email %>
</p>

<p>
  <b>Notes:</b>
  <%= @applicant.notes %>
</p>


<%= link_to 'Back', admin_applicants_path %>
