<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Tamarind of London :: Newport Beach, California</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://use.typekit.com/ijt8vpn.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="<%= params[:controller] %>">

<div class="header clearfix">
  <div class="wrapper">
    <h1 class="logo"><%= link_to image_tag(image_path('logo_header.png'), :alt => "Tamarind of London"), home_path, :title => "Tamarind of London" %></h1>
    <div class="reservation">
      <%= link_to "Make a Reservation", new_reservation_path, :class => "make_reservation", :id => "make_reservation" %>
      <div id="opentable_form" class="opentable_form" style="display:none"><script type="text/javascript" src="http://www.opentable.com/frontdoor/default.aspx?rid=69718&restref=69718&hover=1"></script></div>
    </div>
    <div class="nav">
      <ul>
        <li><%= link_to "Menus", menus_path %>
          <ul class="sub_nav"  style="display:none">
            <li><%= link_to "Dinner", view_menu_path(:name => "dinner") %></li>
            <li><%= link_to "Dessert", view_menu_path(:name => "dessert") %></li>
            <li><%= link_to "Wine", view_menu_path(:name => "wine") %></li>
            <li><%= link_to "Cocktails", view_menu_path(:name => "cocktails") %></li>
          </ul>
        </li>
        <li><%= link_to "Location", "#" %></li>
        <li><%= link_to "About", view_page_path(:slug => 'about') %></li>
        <li><%= link_to "Blog", "http://blog.tamarindoflondon.com" %></li>
        <li class="last"><%= link_to "Contact", new_message_path %></li>
      </ul>
    </div>
  </div>
</div>

<div class="main">
  <div class="wrapper">
    <div class="layout_half">
      <%= yield %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="overview">
    <div class="wrapper clearfix">
      <h4 class="logo"><%= link_to image_tag(image_path('logo_footer.png'), :alt => "Tamarind of London"), home_path, :title => "Tamarind of London" %></h4>
      
      <div class="location">
        <address>7862 East Pacific Coast Highway<br>Newport Beach, California 92651</address>
      </div>
  
      <div class="contact">
        <span class="phone">call us at: (213) 555-1234</span><br>
        <span class="email">info@tamarindoflondon.com</span>
      </div>
    </div>
  </div>
  
  <div class="sitemap">
    <div class="wrapper clearfix">
      <ul class="nav">
        <li><h5>Menus</h5></li>
        <li><%= link_to "Dinner", view_menu_path(:name => "dinner") %></li>
        <li><%= link_to "Dessert", view_menu_path(:name => "dessert") %></li>
        <li><%= link_to "Wine", view_menu_path(:name => "wine") %></li>
        <li><%= link_to "Cocktails", view_menu_path(:name => "cocktails") %></li>
      </ul>
  
      <ul class="nav">
        <li><h5>Location</h5></li>
        <li><%= link_to "Map", view_page_path(:slug => 'map') %></li>
        <li><%= link_to "Hours", view_page_path(:slug => 'hours') %></li>
      </ul>
  
      <ul>
        <li><h5>About</h5></li>
        <li><%= link_to "History", view_page_path(:slug => 'history') %></li>
        <li><%= link_to "Team", view_page_path(:slug => 'team') %></li>
        <li><%= link_to "Hours", view_page_path(:slug => 'hours') %></li>
      </ul>
  
      <ul>
        <li><h5>Blog</h5></li>
        <li><%= link_to "Blog", "http://blog.tamarindoflondon.com" %></li>
      </ul>
  
      <ul>
        <li><h5>Contact</h5></li>
        <li><%= link_to "Make a Reservation", new_reservation_path %></li>
        <li><%= link_to "Phone and Email", view_page_path(:slug => 'contact') %></li>
        <li><%= link_to "Leave Feedback", new_message_path %></li>
      </ul>
    </div>
  </div>
</div>

<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(66487345); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66487345ns.gif" /></p></noscript>

</body>
</html>
