<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Tamarind of London :: Newport Beach, California</title>
  <%= stylesheet_link_tag "application", :media => "all", :id => "stylesheet" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://use.typekit.com/ijt8vpn.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <!--[if lte IE 7]> <%= stylesheet_link_tag "ie", :media => "all" %> <![endif]-->
  <script type="text/javascript" charset="utf-8">
    if ((/mobile/i.test(navigator.userAgent)) && (/ipad/i.test(navigator.userAgent) == false)){
      swapStylesheet("/assets/application_mobile.css");
      document.write('<meta name="viewport" content="width=device-width,initial-scale=0.8,user-scalable=no" />');
    }
  </script>
</head>
<body class="<%= @body_class || params[:controller].parameterize %>">

<div class="header clearfix">
  <div class="wrapper">
    <h1 class="logo"><%= link_to image_tag(image_path('logo_header.png'), :alt => "Tamarind of London"), root_url, :title => "Tamarind of London" %></h1>
    <div class="reservation">
      <%= link_to "Make a Reservation", new_reservation_path, :class => "make_reservation fullscreen_only", :id => "make_reservation" %>
      <%= link_to "Make a Reservation","http://m.opentable.com/search/findatable?RestaurantID=69718", :class => "make_reservation mobile_only" %>
      <div class="reservation_phone">Click above or call <strong>(949) 715-8338</strong></div>
      <div id="opentable_form" class="opentable_form" style="display:none"><script type="text/javascript" src="http://www.opentable.com/frontdoor/default.aspx?rid=69718&restref=69718&hover=1"></script></div>
    </div>
    <div class="nav">
      <ul>
        <li class="link_menus"><%= link_to "Menus", menus_path %>
          <ul class="sub_nav" style="display:none">
            <% Menu.viewable.each do |menu| %>
              <li class="link_menus_<%= menu.name.parameterize %>"><%= link_to menu.name, view_menu_path(:slug => menu.slug) %></li>
            <% end %>
          </ul>
        </li>
        <li class="link_location"><%= link_to "Location", view_page_path(:slug => 'location') %></li>
        <li class="link_about"><%= link_to "About", view_page_path(:slug => 'about') %>
          <ul class="sub_nav" style="display:none">
            <li class="link_about_story"><%= link_to "Story", view_page_path(:slug => "about") %></li>
            <li class="link_about_team"><%= link_to "Team", view_page_path(:slug => "team") %></li>
            <li class="link_about_careers"><%= link_to "Careers", new_applicant_path(:position => 'front') %></li>
          </ul>
        </li>
        <li class="link_press fullscreen_only"><%= link_to "Press", view_page_path(:slug => 'press') %>
          <ul class="sub_nav" style="display:none">
            <li class="link_press_coverage"><%= link_to "Coverage", view_page_path(:slug => "press") %></li>
            <li class="link_press_media_inquiries"><%= link_to "Inquiries", view_page_path(:slug => 'media_inquiries') %></li>
          </ul>          
        </li>
        <!-- <li class="link_blog"><%= link_to "Blog", "http://blog.tamarindoflondon.com" %></li> -->
        <li class="link_contact last"><%= link_to "Contact", new_message_path %></li>
      </ul>
    </div>
  </div>
</div>

<div class="main clearfix">
  <div class="wrapper">
    <div class="layout_half">
      <%= yield %>
    </div>
  </div>
</div>

<div class="footer">
  <div class="overview">
    <div class="wrapper clearfix">
      <h4 class="logo"><%= link_to image_tag(image_path('logo_footer.png'), :alt => "Tamarind of London"), root_url, :title => "Tamarind of London" %></h4>
      
      <a class="location fullscreen_only" href="http://maps.google.com/maps?q=7862+Pacific+Coast+Hwy,+South+Coast,+Orange,+California+92657&hnear=7862+Pacific+Coast+Hwy,+South+Coast,+Orange,+California+92657&gl=us&t=m&z=16&vpsrc=0" target="_blank">
        <address>7862 East Pacific Coast Highway<br>Newport Beach, California 92657</address>
      </a>
      <a class="location mobile_only" href="http://maps.google.com/maps?q=33.570868,-117.833678&gl=us&t=m&z=16&vpsrc=0" target="_blank">
        <address>7862 East Pacific Coast Highway<br>Newport Beach, California 92657</address>
      </a>
      <a class="contact" href="<%= new_message_path %>">
        <span class="phone">call us at: (949) 715-8338</span><br>
        <span class="email">info@tamarindoflondon.com</span>
      </a>
    </div>
  </div>
  
  <div class="sitemap fullscreen_only">
    <div class="wrapper clearfix">
      <ul class="nav">
        <li><h5>Menus</h5></li>
        <% Menu.viewable.each do |menu| %>
          <li><%= link_to menu.name, view_menu_path(:slug => menu.slug) %></li>
        <% end %>
      </ul>
  
      <ul class="nav">
        <li><h5>Location</h5></li>
        <li><%= link_to "Directions", view_page_path(:slug => 'location') %></li>
        <li><%= link_to "Hours", view_page_path(:slug => 'location') %></li>
      </ul>
  
      <ul>
        <li><h5>About</h5></li>
        <li><%= link_to "Tamarind", view_page_path(:slug => 'about') %></li>
        <li><%= link_to "Team", view_page_path(:slug => 'team') %></li>
        <li><%= link_to "Careers", new_applicant_path(:position => 'front') %></li>
      </ul>
  
      <ul>
        <li><h5>Connect</h5></li>
        <!-- <li><%= link_to "Blog", "http://blog.tamarindoflondon.com" %></li> -->
        <li><%= link_to "Facebook", "http://www.facebook.com/tamarindoflondon", :target => "_blank" %></li>
        <!-- <li><%= link_to "Twitter", "http://www.twitter.com/tamarindlondon", :target => "_blank" %></li> -->
      </ul>
  
      <ul>
        <li><h5>Contact</h5></li>
        <li><%= link_to "Phone and Email", new_message_path %></li>
        <li><%= link_to "Leave Feedback", new_message_path %></li>
      </ul>
    </div>
  </div>
</div>


<%= yield :scripts %>

<script src="//static.getclicky.com/js" type="text/javascript"></script>
<script type="text/javascript">try{ clicky.init(66487345); }catch(e){}</script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66487345ns.gif" /></p></noscript>

</body>
</html>
